/* Usage of Font-face Rule */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Body Element Rule */
body {
  margin: 0px;
  background-color: tomato;
}

/* -----Header----- */
/* Flex-box fail attempt */
/* header{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:center;
    padding:30px 10%;
} */


/* -----Navigation Menu----*/
/* Box Header Wrap  */
.boxHeader{
  flex-direction: column;
}
/* Adjusting the box with the logo and the banner */
.boxLogos{
    padding-top: 30px;
    padding-bottom: 30px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
   }
/* NaviBoxWrapper */
  .boxNavi{
      display:flex;
      flex-direction: start;
      background-color: black;
  }
/* Styling the link element */
.nav_links li{
    /* display: inline-block; */
    list-style-type: none;
    padding: 15px 5px;
    font-size:16px;
    margin-right: auto;
    float: left;
    background-color: black;
}
/* Additional link element styling The <a> tag defining the hyperlink */
.nav_links li a{
    text-decoration: none;
    background-color: black;
}
/* Setting family-font and color to the ul, a elemnts  */
ul, a{
   font-family: "Montserrat", sans-serif;
   font-weight:500;
   font-size: 16px;
   color:whitesmoke;
}
/*  */
/* ul li{
    margin: px;
} */
/* Styling the date section */
#date{
  float: right; 
  padding-right: 30px;
}

/* Main element adjustments */ 
main{
  position: absolute; 
  left:10%;
  right:10%;
}
 /* Header Banner "How to become a developer" */
 .mainBox{
  text-align: center;

 }

/* Popular Box Container */

/* .popular{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
} */

/* -------------------------- */
/* Main Box "How to become a developer */

/* Second section Photos container*/
/* flexing the CSS box */
.boxImagesDeveloper{
  display: flex;
  flex-direction: column;
}
/* Image set flex and adjustments */
.boxDevImages{
  padding-top: 30px;
  padding-bottom: 30px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}


/* Footer */
.boxFooter{
  display: flex;
  flex-direction: column;
  /* padding:5x 20px; */
}

.boxFooterNavi{
  display:flex;
  justify-content:center;
}
.nav_links li{ 
  display:flex;
  flex-direction: column;
  font-size:16px;
}
.logoNavi{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}




/* -------Media Query------- */

/* Media Query for Mobile Devices */
/* Targeting the head banner and adjusting it to no-show in the mobile device preview */
@media (max-width: 480px) {
  .banner-1 {
      display:none;
  }  
/* Setting the Images to mobile view */

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    background-color: green;
  }
}
